In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
df=pd.read_csv('dataset/train.csv')

In [4]:
df.shape

(404290, 6)

In [5]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
new_df=df.sample(30000)

In [7]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
new_df.duplicated().sum()

0

In [9]:
ques_df=new_df[['question1','question2']]
ques_df.head()

,question1,question2
218971,"What's the sexiest language, and why?",What is the sexiest accent?
388576,What are some products that are actually made ...,What are some products that are actually made ...
210355,What are the pros and cons of San Francisco Ba...,What are the pros and cons of San Francisco Ba...
250559,If Jesus Christ was circumcised on the eighth ...,Why are people not giving Trump a chance?
162643,Why some people commit suicide?,Why do peope commit suicide?

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
questions=list(ques_df['question1'])+list(ques_df['question2'])
cv=CountVectorizer(max_features=3000)
q1_arr,q2_arr=np.vsplit(cv.fit_transform(questions).toarray(),2)

In [14]:
temp_df1=pd.DataFrame(q1_arr, index=ques_df.index)
temp_df2=pd.DataFrame(q2_arr, index=ques_df.index)
temp_df=pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 6000)

In [16]:
temp_df['is_duplicate']=new_df['is_duplicate']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7431666666666666

In [20]:
!pip install xgboost

Collecting xgboost

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading xgboost-3.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\tensorflow\tf_gpu_py310\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\tensorflow\tf_gpu_py310\lib\site-packages (from xgboost) (1.15.3)
Downloading xgboost-3.1.1-py3-none-win_amd64.whl (72.0 MB)
   ---------------------------------------- 0.0/72.0 MB ? eta -:--:--
   ---------------------------------------- 0.5/72.0 MB 4.2 MB/s eta 0:00:17
   - -------------------------------------- 2.6/72.0 MB 9.4 MB/s eta 0:00:08
   -- ------------------------------------- 5.0/72.0 MB 10.4 MB/s eta 0:00:07
   ---- ----------------------------------- 7.3/72.0 MB 11.1 MB/s eta 0:00:06
   ----- ---------------------------------- 10.0/72.0 MB 11.1 MB/s eta 0:00:06
   ------ --------------------------------- 12.3/72.0 MB 11.4 MB/s eta 0:00:06
   -------- ------------------------------- 14.7/72.0 MB 11.4 MB/s eta 0:00:06
   --------- ------------------------------ 17.0/72.0 MB 11.4 MB/s eta 0:00:05
   ---------- ----------------------------- 19.7/72.0 MB 11.5 MB/s eta 0:00:05
   ----------- ---------------------------- 21.2/72.0 MB 11.5 MB/s eta 0:00:05
   ------------- -------------------------- 24.1/72.0 MB 11.2 MB/s eta 0:00:05
   -------------- ------------------------- 26.5/72.0 MB 11.3 MB/s eta 0:00:05
   ---------------- ----------------------- 29.1/72.0 MB 11.3 MB/s eta 0:00:04
   ----------------- ---------------------- 31.5/72.0 MB 11.3 MB/s eta 0:00:04
   ------------------ --------------------- 34.1/72.0 MB 11.4 MB/s eta 0:00:04
   -------------------- ------------------- 36.7/72.0 MB 11.4 MB/s eta 0:00:04
   --------------------- ------------------ 39.1/72.0 MB 11.4 MB/s eta 0:00:03
   ----------------------- ---------------- 41.7/72.0 MB 11.5 MB/s eta 0:00:03
   ------------------------ --------------- 44.0/72.0 MB 11.5 MB/s eta 0:00:03
   ------------------------- -------------- 46.7/72.0 MB 11.5 MB/s eta 0:00:03
   --------------------------- ------------ 49.0/72.0 MB 11.5 MB/s eta 0:00:02
   ---------------------------- ----------- 51.4/72.0 MB 11.5 MB/s eta 0:00:02
   ------------------------------ --------- 54.0/72.0 MB 11.5 MB/s eta 0:00:02
   ------------------------------- -------- 56.4/72.0 MB 11.5 MB/s eta 0:00:02
   -------------------------------- ------- 58.7/72.0 MB 11.5 MB/s eta 0:00:02
   ---------------------------------- ----- 61.3/72.0 MB 11.6 MB/s eta 0:00:01
   ----------------------------------- ---- 63.7/72.0 MB 11.6 MB/s eta 0:00:01
   ------------------------------------ --- 66.3/72.0 MB 11.6 MB/s eta 0:00:01
   -------------------------------------- - 68.7/72.0 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------  71.0/72.0 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 72.0/72.0 MB 11.4 MB/s  0:00:06
Installing collected packages: xgboost
Successfully installed xgboost-3.1.1

In [21]:
from xgboost import XGBClassifier 
xgb=XGBClassifier()
xgb.fit(X_train,y_train)
y_pred=xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7306666666666667